# Parameters

De sommen van de financiële rekenkunde zijn steeds opgebouwd uit bedragen en parameters op basis waarvan de bedragen in de tijd veranderen. De parameters waar mee wordt gerekend zijn:
- rentewinst
- renteverlies
- kostenstijging
- opbrengstenstijging
- disconteringsvoet

De sommen tot nu toe gingen alleen maar over het geld zelf en de rente die je krijgt (rentewinst) of moet betalen (renteverlies).

Als je een som wilt maken over een toekomstige aankoop, moet je niet alleen rekening houden met rente, maar ook met prijsstijgingen (we hebben het altijd over kostenstijgingen). Als je een auto wilt kopen, maar je hebt niet genoeg geld, dan kun je sparen totdat je het bedrag wel hebt. De kans bestaat dat de auto inmiddels duurder is geworden. Dat is een kostenstijgin die ingerekend moet worden. Als je al wat geld had, kun je rekening houden met de rente die je daarover krijgt (rentewinst) en als je spaart van je loon zou je ook rekening kunnen houden met loonstijgingen (opbrengstenstijging).

De som zou er als volgt uit kunnen zien:
prijs auto: € 25.000
spaartegoed: € 10.000
spaarruimte: € 5.000
kostenstijging: 5%
rente: 3%
loonstijging: 2%

Er zijn nu drie kolommen in je spreadsheet:
* spaartegoed
* sparen (wat je overhoudt van je loon)
* autoprijs

Er zijn nu ook 3 verschillende parameters:
* rente: spaarrente
* opbrengstenstijging: loonsverhoging (resulterend in "spaargroei")
* kostenstijging: prijsstijging van de auto


De rekensom blijft in principe hetzelfde, maar wordt ingewikkelder omdat de omvang groeit. Ergens in het 3de jaar heb je genoeg geld om de auto te kopen. De rekensom is niet wezenlijk anders dan de eerdere sommen.

In [1]:
import pandas as pd
autoprijs = 25000
prijsstijging = 0.05
sparen = 400 * 12
spaarstijging = 0.2
spaartegoed = 10000
rente = 0.03
jaar = i = 0
totals = []
while autoprijs > spaartegoed:
    autoprijs = 25000 * (1 + prijsstijging) ** i
    sparen = sparen * (1 + spaarstijging) ** i
    spaartegoed = spaartegoed + sparen + spaartegoed * rente
    totals.append({
        'jaar': i,
        'autoprijs':autoprijs,
        'sparen':sparen,
        'spaartegoed':spaartegoed,
    })
    i += 1
totals = pd.DataFrame(totals)
totals.round(2)

   jaar  autoprijs  sparen  spaartegoed
0     0    25000.0  4800.0     15100.00
1     1    26250.0  5760.0     21313.00
2     2    27562.5  8294.4     30246.79

`````{admonition} Hefboomwerking
:class: tip
Bij die spaargroei komt iets voor dat je vaker ziet, bijvoorbeeld bij de residuele grondwaarde. Er is sprake van een multiplier effect. Stel ik verdien € 50.000,- en ik heb € 45.000,- vaste lasten. Dan blijft er € 5000,- over om te sparen. Je spaart 2% van je loon en je weet dat je vaste lasten niet stijgen. Dat betekent dat je spaarruimte geen 2% maar 20% groeit.

    2 % van € 50.000 = € 1.000 salarisgroei / extra spaarruimte 

    1.000 / 5.000 = 20%
`````



In exploitatieberekeningen gaat het meestal andersom. Je gaat niet sparen om later te kunnen kopen, maar je geeft eerst geld uit (investeert) om in de toekomst inkomsten te genereren, die bij voorkeur de investering gaan dekken.
De meest simpele rekensom van een exploitatie kent dan eigenlijk steeds 7 kolommen:

1. kosten vandaag
2. kosten op moment van uitgave/investering
3. contant gemaakte kosten

4. inkomsten vandaag
5. inkomsten op moment van inkomsten
6. contant gemaakte inkomsten
7. saldo


Het bouwen van een huis kan goed als voorbeeld dienen:

1. Stichtingskosten van een huis vandaag zijn € 300.000,-.
2. Ik ga het huis pas bouwen over 2 jaar. Verwachting is dat de bouwkosten 4% per jaar stijgen. Kosten zijn dan 300.000 * 1.04<sup>2</sup> = 324.480
3. De disconteringsvoet is 5%. Dat betekent dat de bouwkosten van het huis, omgerekend naar vandaag 324.480 / 1.05<sup>2</sup> = 294.312

4. Vandaag is de waarde van het huis € 320.000,-
5. We verwachten een prijsdaling van 2% per jaar. De opbrengsten over 3 jaar worden 320.000 * (1 - 0.02)<sup>3</sup>= 301.181
6. De disconteringsvoet is 5%. De opbrengsten van het huis, omgerekend naar vandaag zijn 301.181 / 1.05<sup>3</sup> = 260.171
7. Het saldo is - € 34.141,-

Het verschil is zelfs op deze rekensom al enorm. Nominaal, volgens de "echte" prijzen van vandaag maken we 320.000 - 300.000 = 20.000 winst.
Door een lichte prijsdaling, een vrij normale kostenstijging en een tijdsverschil tussen het moment van kosten en opbrengsten verandert de plus in een min van ruim 34.000

Met wat hoofrekenwerk kom he hier ook wel uit. Je verlies 5% van 320000 omdat de inkomsten een jaar te later vallen. Dat is ongeveer 15000
Je verliest ongeveer 3 * 5% (het verschil tussen kostenstijging en prijsdaling) = 15% van 300000 = 45000

Dan zou je met een zeer grove berekening op een tekort van 40.000 komen. Er zijn op basis van dit voorbeeld een paar conclusies te trekken:
- zelfs met niet extreme parameters kunnen op korte termijn enorme verschillen tussen het nominale saldo en de netto contante waarde ontstaan.
- om gevoel te krijgen bij dit soort effecten, moet je de som vaker maken.
- bij een simpel voorbeeld kom je met een platte hoofdrekenbenadering nog een eind, hoewel het verschil tussen de schatting en de berekening al aanzienlijk is.
- als de case ingewikkelder wordt, is hoofdrekenen geen optie meer
- dit voorbeeld schetst een negatief resultaat, maar het omgekeerde kan natuurlijk ook het geval zijn!

In [2]:
import string
string.ascii_uppercase

VON_prijs = 320000
Stiko = 300000
kostenstijging = 0.04
opbrengstenstijging = -0.02
disconteringsvoet = 0.05
bouwjaar = 2
verkoopjaar = 3
von_geindexeerd = VON_prijs * (1 + opbrengstenstijging) ** verkoopjaar
von_contant = von_geindexeerd / ( 1 + disconteringsvoet) ** verkoopjaar
stiko_geindexeerd = Stiko * (1 + kostenstijging) ** bouwjaar
stiko_contant = stiko_geindexeerd / ( 1 + disconteringsvoet) ** bouwjaar
saldo2 = von_contant - stiko_contant


saldo = VON_prijs * (1 + opbrengstenstijging) ** verkoopjaar / ( 1 + disconteringsvoet) ** verkoopjaar - Stiko * (1 + kostenstijging) ** bouwjaar / ( 1 + disconteringsvoet) ** bouwjaar
d = [{
       "nominaal": "",
    "geïndexeerd": "",
    "netto contant": "",
    "kostenstijging": "4%",
    "opbrengstenstijging": "-2%",
    "disconteringsvoet": "5%",
    "bouwjaar": "2",
    "verkoopjaar": "3",
},{
    "nominaal": VON_prijs,
    "geïndexeerd": von_geindexeerd,
    "netto contant": von_contant,
    "kostenstijging": "",
    "opbrengstenstijging": "",
    "disconteringsvoet": "",
    "bouwjaar": "",
    "verkoopjaar": "",
}, {
    "nominaal": Stiko,
    "geïndexeerd": stiko_geindexeerd, 
    "netto contant": stiko_contant,
    "kostenstijging": "",
    "opbrengstenstijging": "",
    "disconteringsvoet": "",
    "bouwjaar": "",
    "verkoopjaar": "",
}, {
    "nominaal": VON_prijs - Stiko,
    "geïndexeerd": "",
    "netto contant": saldo,
    "kostenstijging": "",
    "opbrengstenstijging": "",
    "disconteringsvoet": "",
    "bouwjaar": "",
    "verkoopjaar": "",
}]
result = pd.DataFrame(d, index=["parameters", "VON prijs","stiko", "SALDO"]).round(2).T

excel = result.copy()
excel['onderwerp'] = excel.index
excel = excel.reset_index()
excel.loc[-1] = excel.columns
excel.sort_index(inplace=True)
excel.rename(columns={
    c: i for c, i in zip(excel.columns, string.ascii_uppercase)
    }, inplace=True)


excel.set_index(pd.Index(list(range(1,10))), inplace=True)
# VON prijs
excel.iat[2,2] = "=C2*(1+C6)^C9"
excel.iat[3,2] = "=C3/(1+C7)^C9"
# Stiko
excel.iat[2,3] = "=D2*(1+C5)^C8"
excel.iat[3,3] = "=D3/(1+C7)^C8"

# saldo
excel.iat[1,4] = "=C2-D2"
excel.iat[3,4] = "=C4-D4"

result

                    parameters      VON prijs         stiko         SALDO
nominaal                               320000        300000         20000
geïndexeerd                         301181.44      324480.0
netto contant                   260171.851852  294312.92517 -34141.073318
kostenstijging              4%
opbrengstenstijging        -2%
disconteringsvoet           5%
bouwjaar                     2
verkoopjaar                  3

In [3]:
excel

,A,B,C,D,E,F
1,index,parameters,VON prijs,stiko,SALDO,onderwerp
2,nominaal,,320000,300000,=C2-D2,nominaal
3,geïndexeerd,,=C2*(1+C6)^C9,=D2*(1+C5)^C8,,geïndexeerd
4,netto contant,,=C3/(1+C7)^C9,=D3/(1+C7)^C8,=C4-D4,netto contant
5,kostenstijging,4%,,,,kostenstijging
6,opbrengstenstijging,-2%,,,,opbrengstenstijging
7,disconteringsvoet,5%,,,,disconteringsvoet
8,bouwjaar,2,,,,bouwjaar
9,verkoopjaar,3,,,,verkoopjaar